version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:17-alpine
    container_name: ecommerce-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    volumes:
     - pgdata:/var/lib/postgresql/data

  # .NET Web Application
  web:
    build: .
    container_name: ecommerce-web
    restart: unless-stopped
    ports:
    - "5000:8080"
    depends_on:
    - postgres
    env_file:
    - .env


volumes:
  pgdata: